{% load static %}
<header class="text-white" style="background-color: #282729;">
    <div class="mx-auto center px-4 sm:px-6 lg:px-8">
      <div class="flex h-24 items-center justify-between">
        <div class="md:flex md:items-center md:gap-3">
          <a class="block text-blue-800" href="#">
            <i class="ri-film-fill text-3xl"></i>
          </a>
        </div>
  
        <div class="hidden md:block">
          <nav aria-label="Global">
            <ul class="flex items-center gap-6 text-sm">
              <li><a class="transition text-sm hover:text-gray-200" href="{% url "movie_theater:home" %}">Página Inicial</a></li>
              <li class="relative" id="dropdown-management" style="display: none;">
                <button id="dropdownButton" class="transition text-sm hover:text-gray-200 flex items-center focus:outline-none">
                  Gerenciar
                  <i class="ri-arrow-down-s-line ml-1"></i>
                </button>
                <ul id="dropdownMenu" style="background-color: #fff;" class="absolute hidden text-gray-950 shadow-md rounded-md mt-2 w-48">
                  <li><a class="block px-4 py-2 text-xs hover:bg-gray-100 rounded-md" href="{% url "movie_theater:cinemas" %}">Cinemas</a></li>
                  <li><hr></li>
                  <li><a class="block px-4 py-2 text-xs hover:bg-gray-100 rounded-md" href="{% url "movie_theater:users" %}">Usuários</a></li>
                  <li><hr></li>
                  <li><a class="block px-4 py-2 text-xs hover:bg-gray-100 rounded-md" href="{% url "movie_theater:movies" %}">Filmes</a></li>
                  <li><hr></li>
                  <li><a class="block px-4 py-2 text-xs hover:bg-gray-100 rounded-md" href="{% url "movie_theater:rooms" %}">Salas</a></li>
                  <li><hr></li>
                  <li><a class="block px-4 py-2 text-xs hover:bg-gray-100 rounded-md" href="{% url "movie_theater:sessions" %}">Sessões</a></li>
                </ul>
              </li>
              <li style="display: none;" id="dropdown-reports"><a class="transition text-sm hover:text-gray-200" href="#">Relatórios</a></li>
            </ul>
          </nav>
        </div>
  
        <div class="flex items-center gap-4">
          <div style="display: none;" id="btns-login-register">
            <div class="sm:flex sm:gap-4">
                <button id="login-button" class="rounded bg-blue-800 hover:bg-blue-900 transition px-5 py-2.5 text-xs font-medium text-white shadow">
                    Entrar
                </button>
                <div class="hidden sm:flex">
                    <a class="rounded bg-gray-100 hover:bg-gray-200 transition px-5 py-2.5 text-xs font-medium text-blue-800" href="#">Registrar</a>
                </div>
            </div>
          </div>
      
          <div class="hidden w-64 bg-white rounded shadow-lg p-4" style="position: absolute; top: 75px; right: 22%;" id="dropdown-login">
            <form id="login-form" onsubmit="makeLogin(); return false;">
                <div>
                    <label for="username-input-login" class="block text-xs font-medium text-gray-700">Usuário</label>
                    <input type="text" id="username-input-login" class="mt-2 w-full text-xs rounded-md border-gray-200 shadow-sm text-black bg-white" placeholder="Digite seu usuário" required>
                </div>
                <div>
                    <label for="password-input-login" class="mt-3 block text-xs font-medium text-gray-700">Senha</label>
                    <input type="password" id="password-input-login" class="mt-2 w-full text-xs rounded-md border-gray-200 shadow-sm text-black bg-white" placeholder="Digite sua senha" required>
                </div>
                <div class="mt-2 flex justify-center">
                    <button type="submit" class="mt-3 rounded bg-blue-800 hover:bg-blue-900 transition px-4 py-2 font-medium text-white shadow" style="font-size: 11px;">Entrar</button>
                </div>
            </form>
          </div>

          {{ is_authenticated }}

          <div id="dropdown-info-user" style="display: none;">
              <a href="#" class="flex items-center gap-2 p-4">
                  <img src="{% static 'movie_theater/images/image-user.jpg' %}" class="object-cover w-10 h-10 rounded-full" />
                  <p class="text-xs">
                      <strong class="block font-medium">{{ first_name }} {{ last_name }}</strong>
                      <span>{{ email }}</span>
                  </p>
              </a>
          </div>
        </div>
      </div>
    </div>
  </header>