<header class="bg-white">
    <div class="mx-auto center px-4 sm:px-6 lg:px-8">
      <div class="flex h-24 items-center justify-between">
        <div class="md:flex md:items-center md:gap-12">
          <a class="block text-blue-800" href="#">
            <span class="sr-only">Home</span>
            <i class="ri-film-fill text-3xl"></i>
          </a>
        </div>
  
        <div class="hidden md:block">
          <nav aria-label="Global">
            <ul class="flex items-center gap-6 text-sm">
              <li><a class="text-gray-700 transition hover:text-gray-950" href="#">Página Inicial</a></li>
              <li class="relative">
                <!-- Trigger Dropdown -->
                <button id="dropdownButton" class="text-gray-700 transition hover:text-gray-950 flex items-center focus:outline-none">
                  Gerenciar
                  <i class="ri-arrow-down-s-line ml-1"></i>
                </button>
                <!-- Dropdown Menu -->
                <ul id="dropdownMenu" class="absolute hidden bg-white shadow-md rounded-lg mt-2 w-48">
                  <li><a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">Usuários</a></li>
                  <li><a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="{% url "movie_theater:list-movie" %}">Filmes</a></li>
                  <li><a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">Salas</a></li>
                  <li><a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" href="#">Sessões</a></li>
                </ul>
              </li>
              <li><a class="text-gray-700 transition hover:text-gray-950" href="#">Relatórios</a></li>
              <li><a class="text-gray-700 transition hover:text-gray-950" href="#">Sobre</a></li>
              <li><a class="text-gray-700 transition hover:text-gray-950" href="#">Contato</a></li>
            </ul>
          </nav>
        </div>
  
        <div class="flex items-center gap-4">
          <div class="sm:flex sm:gap-4">
            <a class="rounded-md bg-blue-800 hover:bg-blue-900 transition px-5 py-2.5 text-sm font-medium text-white shadow" href="#">Entrar</a>
            <div class="hidden sm:flex">
              <a class="rounded-md bg-gray-100 hover:bg-gray-200 transition px-5 py-2.5 text-sm font-medium text-blue-800" href="#">Registrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <script>
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');
  
    dropdownButton.addEventListener('click', () => {
      dropdownMenu.classList.toggle('hidden');
    });
  
    // Optional: Close the dropdown if clicked outside
    document.addEventListener('click', (event) => {
      if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.add('hidden');
      }
    });
  </script>
  