*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
}

.center{
    width: 100%;
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
