* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    background-color: #f7f7f7;
    min-width: 100%;
    min-height: 100vh;
    padding: 40px 0;
}

.center{
    width: 100%;
    max-width: 1280px;
    padding: 0 5%;
    margin: 0 auto;
}

.social-links{
    margin-left: 0.75rem;
}

.social-links a {
    margin-right: 0.65rem; 
    font-size: 17px;
}

.social-links a:hover {
    transform: scale(1.05);
}

.name-cinema{
    margin-left: 0.5rem;
}