{% load static %}

<div class="flex items-center justify-between mt-8 mb-6">
  <div>
    <h2 class="font-bold text-2xl">Listagem de Filmes</h2>
    <p class="mt-3 text-sm text-gray-700">Total de <span id="count-movie"></span> filmes</p>
  </div>
  <a id="btn-create-modal" onclick="showModalCreate()" class="rounded-md bg-blue-800 hover:bg-blue-900 transition px-2 py-1 text-base text-white shadow" href="#"><i class="ri-add-fill"></i></a></div>
<div class="w-full bg-gray-200" style="height: 2px;"></div>

<div class="w-full flex mt-7">
  <div class="w-1/5 mr-10">
    {% include 'movie_theater/movie/list/search_filters.html' %}
  </div>
  <div id="list-movie-wraper" class="w-4/5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        
  </div>
</div>

<script>
    const defaultPosterUrl = "{% static 'movie_theater/images/image-empty.png' %}";

    document.addEventListener('DOMContentLoaded', function () {
        const selectElement = document.getElementById('genre-select');
    });
</script>

{% include 'movie_theater/movie/list/modal/create_or_update.html' %}