{% load static %}

<div class="flex items-center justify-between mb-6">
  <div>
    <h2 class="font-bold text-2xl">Filmes</h2>
    <p class="mt-3 text-sm text-gray-700">Total de <span id="count-movie"></span> filmes</p>
  </div>
  <a id="btn-create-modal" onclick="showModalCreate()" class="rounded bg-blue-800 hover:bg-blue-900 transition px-2 py-1 text-base text-white shadow cursor-pointer" href="#"><i class="ri-add-fill"></i></a></div>
  
  <div class="w-full bg-gray-200" style="height: 2px;"></div>

  <div class="w-full flex mt-7">
    <div class="w-1/5 mr-10">
      {% include 'movie_theater/movie/search_filters.html' %}
    </div>
    <div class="w-4/5">
      <div id="list-movie-wrapper" style="max-height: 800px; overflow: auto;" class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        
      </div>
      <ol id="pagination" class="flex justify-start gap-1 text-xs font-medium mt-10">
        
      </ol>
    </div>
  </div>
</div>

{% include 'movie_theater/movie/modal/create_or_update.html' %}